// Buttons

$btn-color:         var(--text) !default;
$btn-size:          var(--fs) !default;
$btn-bg:            inherit !default;
$btn-padding:       .25rem .75rem !default;
$btn-border-color:  transparent !default;
$btn-border-width:  1px !default;
$btn-radius:        2px !default;
$btn-focus:         0 0 0 0.18rem hsla(var(--btn-focus-hsl), .5) !default;
$btn-ico-color:     var(--btn-color) !default;
$btn-transition:    border-color 0.1s, background-color 0.1s !default;

// Upload file button
$btn-file-input-display:        block !default;
$btn-file-input-width:          100% !default;
$btn-file-input-border:         1px solid var(--surf-3) !default;
$btn-file-input-border-radius:  $btn-radius !default;
$btn-file-input-padding:        0 !default;
$btn-file-bg:                   var(--surf-2) !default;
$btn-file-bg-hover:             var(--surf-3) !default;
$btn-file-padding:              .5rem .75rem !default;
$btn-file-radius:               calc($btn-radius - 1px) !default;
$btn-file-radius-right:         0 !default;
$btn-file-margin-right:         .5rem !default;

// Button groups and toolbars
$btn-toolbar-gap:           .25rem !default;
$btn-group-focus-shadow:    none !default;
$btn-group-focus-outline:   inset thin !default;
$btn-group-focus-color:     var(--btn-border-color) !default;

// Button colors
// Base button
$base-btn-bg:             var(--surf-2) !default;
$base-btn-border-color:   var(--surf-3) !default;
$base-btn-hover-bg:       var(--surf-3) !default;
$base-btn-focus-bg:       var(--surf-1) !default;
$base-btn-focus-hsl:      var(--text-hsl) !default;

// Submit button
$submit-btn-color:          #fff !default;
$submit-btn-bg:             var(--blue-3) !default;
$submit-btn-border-color:   var(--blue-2) !default;
$submit-btn-hover-color:    #fff !default;
$submit-btn-hover-bg:       var(--blue-4) !default;
$submit-btn-focus-color:    #fff !default;
$submit-btn-focus-bg:       var(--blue-5) !default;
$submit-btn-focus-hsl:      var(--blue-hsl) !default;

// Reset button
$reset-btn-color:         #fff !default;
$reset-btn-bg:            var(--red-3) !default;
$reset-btn-border-color:  var(--red-2) !default;
$reset-btn-hover-color:   #fff !default;
$reset-btn-hover-bg:      var(--red-4) !default;
$reset-btn-focus-color:   #fff !default;
$reset-btn-focus-bg:      var(--red-5) !default;
$reset-btn-focus-hsl:     var(--red-hsl) !default;

// Light buttons
$light-btn-color:          var(--text);
$light-btn-bg:             transparent !default;
$light-btn-border-color:   var(--surf-3) !default;
$light-btn-hover-color:    var(--text) !default;
$light-btn-hover-bg:       var(--surf-2) !default;
$light-btn-focus-color:    var(--text) !default;
$light-btn-focus-bg:       var(--surf-3) !default;
$light-btn-focus-hsl:      var(--text-hsl) !default; 

// Dark buttons
$dark-btn-color:          #fff;
$dark-btn-bg:             var(--gray-12) !default;
$dark-btn-border-color:   var(--gray-11) !default;
$dark-btn-hover-color:    #fff !default;
$dark-btn-hover-bg:       var(--gray-9) !default;
$dark-btn-focus-color:    #fff !default;
$dark-btn-focus-bg:       #000 !default;
$dark-btn-focus-hsl:      var(--text-hsl) !default; 

// Blue buttons
$blue-btn-color:          #fff !default;
$blue-btn-bg:             var(--blue-3) !default;
$blue-btn-border-color:   var(--blue-2) !default;
$blue-btn-hover-color:    #fff !default;
$blue-btn-hover-bg:       var(--blue-4) !default;
$blue-btn-focus-color:    #fff !default;
$blue-btn-focus-bg:       var(--blue-5) !default;
$blue-btn-focus-hsl:      var(--blue-hsl) !default;

// Green buttons
$green-btn-color:         #fff !default;
$green-btn-bg:            var(--green-3) !default;
$green-btn-border-color:  var(--green-2) !default;
$green-btn-hover-color:   #fff !default;
$green-btn-hover-bg:      var(--green-4) !default;
$green-btn-focus-color:   #fff !default;
$green-btn-focus-bg:      var(--green-5) !default;
$green-btn-focus-hsl:     var(--green-hsl) !default;

// Red buttons
$red-btn-color:           #fff !default;
$red-btn-bg:              var(--red-3) !default;
$red-btn-border-color:    var(--red-2) !default;
$red-btn-hover-color:     #fff !default;
$red-btn-hover-bg:        var(--red-4) !default;
$red-btn-focus-color:     #fff !default;
$red-btn-focus-bg:        var(--red-5) !default;
$red-btn-focus-hsl:       var(--red-hsl) !default;

// Yellow buttons
$yellow-btn-color:        #000 !default;
$yellow-btn-bg:           var(--yellow-3) !default;
$yellow-btn-border-color: var(--yellow-2) !default;
$yellow-btn-hover-color:  #000 !default;
$yellow-btn-hover-bg:     var(--yellow-4) !default;
$yellow-btn-focus-color:  #000 !default;
$yellow-btn-focus-bg:     var(--yellow-5) !default;
$yellow-btn-focus-hsl:    var(--yellow-hsl) !default;

// Button sizes
$btn-xs-fs:         var(--fs-xs) !default;
$btn-xs-padding:    0.15rem 0.5rem !default;
$btn-sm-fs:         var(--fs-sm) !default;
$btn-sm-padding:    0.2rem 0.65rem !default;
$btn-lg-fs:         var(--fs-lgr) !default;
$btn-lg-padding:    0.5rem 1.25rem !default;
$btn-lgr-fs:        var(--fs-lgst) !default;
$btn-lgr-padding:   0.75rem 1.5rem !default;
 