// Forms

$form-padding:                .25rem .5rem !default;
$form-border:                 1px solid var(--surf-4) !default;
$check-size:                  1em !default;
$check-margin-top:            0.21em !default;
$check-margin-right:          0.1em !default;
$check-valign:                top !default;
$select-color:                var(--text) !default;
$select-bg-color:             var(--surf-1) !default;
$select-padding:              .25rem !default;
$fieldset-border:             1px solid var(--surf-4) !default;
$fieldset-border-radius:      2px !default;
$legend-border:               1px solid var(--surf-4) !default;
$legend-border-radius:        2px !default;
$legend-bg-color:             var(--surf-2) !default;
$legend-padding:              .25rem .5rem !default;
$placeholder-color:           var(--surf-6) !default;
$input-color-padding:         0 !default;
$input-color-border-radius:   0 !default;
 