// Typography

// Body
$font-family:       var(--sans, sans-serif);
$font-size:         var(--fs-base, 1rem) !default;
$line-height:       1.5 !default;
$font-weight:       400 !default;
$letter-spacing:    -0.013rem !default;
$color:             var(--text) !default;
$background-color:  var(--body-bg) !default;

// Links
$link:       var(--link) !default;
$link-hover: var(--link-hover) !default;

// Headings
$h1-fs: var(--fsf-h1, 3rem) !default;
$h2-fs: var(--fsf-h2, 2.3rem) !default;
$h3-fs: var(--fsf-h3, 1.8rem) !default;
$h4-fs: var(--fsf-h4, 1.5rem) !default;
$h5-fs: var(--fsf-h5, 1.3rem) !default;
$h6-fs: var(--fsf-h6, 1.1rem) !default;
$h1-fw: 800 !default;
$h2-fw: 700 !default;
$h3-fw: 700 !default;
$h4-fw: 700 !default;
$h5-fw: 700 !default;
$h6-fw: 700 !default;

// Inline and block typography
$fs-small:                    var(--fs-sm, .875rem) !default;
$fs-sup-sub:                  var(--fs-xs, .75rem) !default;
$code-color:                  var(--link) !default;
$code-ff:                     var(--monospace, monospace) !default;
$pre-bg-color:                var(--surf-2) !default;
$pre-border-color:            var(--surf-3) !default;
$pre-outline-color:           var(--surf-6) !default;
$pre-padding:                 1rem !default;
$pre-margin-bottom:           1rem !default;
$kbd-fs:                      var(--fs-sm, 0.875rem) !default;
$kbd-color:                   #fff !default;
$kbd-bg:                      var(--gray-9) !default;
$kbd-border-radius:           .25rem !default;
$kbd-padding:                 .1rem .2rem !default;
$figure-margin:               0 0 1rem !default;
$figure-caption:              var(--fs-sm, .875rem) !default;
$blockquote-fs:               var(--fs-lgst, 1.125rem) !default;
$blockquote-border-width:     1px !default;
$blockquote-border-color:     var(--surf-2) !default;
$blockquote-padding-bottom:   .5rem !default;
$blockquote-margin-bottom:    1rem !default;
$details-margin-bottom:       .5rem !default;
$summary-font-weight:         bold !default;
$hr-border-width:             1px !default;
$hr-border-color:             var(--surf-3) !default;
$hr-margin-bottom:            1rem !default;
 